{% extends 'layout.html' %}
{% block content %}
    <div class='content-secion'>
        <form method='POST' action="">
            {{ form.hidden_tag() }}
            <fieldset class='form-group'>
                <legend class='border-bottom mb-4'>Reset Password</legend>
                <!-- form 에서 가져올 내용을 하나씩 정리하는 부분 -->
                <!-- 라벨과 forms.py의 변수명(Stringfield 내부의 스트링이 아니다.)이 모두 일치해야 한다. -->
                <!-- 불러온 데이터에 대해서 class 지정을 다음과 같이 설정해준다.-->
                <div class='form-group'>
                    {{ form.password.label(class='form-control-label') }}
                    <!-- form.password.errors에는 이미 에러에 해당하는 문구가 저장되어 있다. -->
                    <!-- 클래스명을 다음과 같이 설정하는 이유가 있다. -->
                    {% if form.password.errors %}
                        {{ form.password(class='form-control form-control-lg is-invalid') }}
                        <div class='invalid-feedback'>
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{ form.confirm_password.label(class='form-control-label') }}
                    <!-- form.password.errors에는 이미 에러에 해당하는 문구가 저장되어 있다. -->
                    <!-- 클래스명을 다음과 같이 설정하는 이유가 있다. -->
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class='form-control form-control-lg is-invalid') }}
                        <div class='invalid-feedback'>
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
            </fieldset>
            <div class='form-group'>
                {{ form.submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>
{% endblock content %}