{% extends 'layout.html' %}
<!-- 위의 내용은 layout.html에 대한 내용을 가져온다는 의미이다. -->
{% block content %}
    <h1 class='mb-3'>Posts by {{ user.username }} ({{ posts.total }})</h1>
    {% for post in posts.items %}
        <article class="media content-section">
            <img class='rounded-circle article-img' src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
                <!-- author의 내용을 보두 부르는 것 -> username만 부르는 것 -->
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                <!-- 현재시각 초의 소숫자리까지 출력 -> 년월일까지만 부르는 것 -->
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    <!-- 페이지 넘버를 부여하는 html 코드 -->
    {% endfor %}
    <!-- 아래 내용은 가장자리에 나오는 페이지, 그리고 현재 페이지 양옆으로 나오는 페이지를 설정하는 값이다. -->
    {% for page_num in posts.iter_pages(left_edge=1,right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            <!-- 현재 페이지에 대한 모습을 바꿔주는 코드 -->
            {% if posts.page == page_num %}
                <a class = 'btn btn-info mb-4' href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class = 'btn btn-outline-info mb-4' href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>        
            {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}
    <!-- 위의 내용은 파이썬의 for 문법을 활용할 수 있도록 하는 방식이다. -->
    <!-- 실제로 {} 내부의 내용은 전달된 소스코드에서 확인할 수 없다. -->
{% endblock content %}
<!-- 위의 내용은 extends 된 html에서 content에 해당하는 위치에 해당 내용을 대체한다는 의미이다. -->